
/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

html, body {
    height: 100%;
    color: white;
}
header {
    height: 70px;
    position: relative;
    display: flex;
    font-size: 2em;
    background-color: black;
    opacity: 0.85;
}

/*/////////////////// COMMON ////////////////////////*/

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.mini-head{
    margin-bottom: 15px;
    font-weight: 700;

}

/*///////////////////////////////////////////////////////*/
a {
    color: white;
    text-decoration: none;
}

html {
  font-size: 14px;
}

body {    
    background-color: white;    
}

.logo {
    height: 100%;
    background: url('storage/LOGO.png') center no-repeat;
    background-size: contain;
    width: 15%;
}

.main-container {
    height: 90%;
}

.videoContainer{
    height: 100%;
    width: auto;
}
#bgVideo {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #bgVideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #bgVideo {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px){
    #bgVideo {
        display:none;
    }
    .videoContainer {
        background: url('storage/bg/bg1.jpg') no-repeat;
        background-size: contain;
    }
}

nav{
    position: relative;
    width: 100%;
} 

.navbar-nav li{
    margin-left: 10px;
}

.info-section {
    display: flex;
    height: 25%;
    
}
.news, .gigs {
    width: 50%;
    
}

.news {
    border: 1px solid blue;
}

.gigs {
    border: 1px solid red;
}


/*//////////////////////////////////////// LOGIN ////////////////////////////////////*/

.auth-form 
{
    width: 20%;
    text-align: center;
    margin: 1% auto;
}


/*///////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////// ESHOP /////////////////////////////////////*/

.cart{
    width: 3%;
    position: relative;    
    background-color: white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.cart img{
    width: 80%;
}
.cart #product-count{
    position: absolute;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    right: 0;
    top: 0;

}


.eshop-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    /*display: flex;*/
    /*border: 1px solid red;*/
}

.eshop-categories {
    position: relative;
    width: 15%;
    background-color: #271114;
}

.eshop-category {
    position: relative;
    width: 100%;
    padding:0 15px;
    /*border:1px solid blue;*/
    margin: 25px 0;
}

.eshop-products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: black;
}
.eshop-products a{
    color: black;
}
.eshop-category-name{
    border-left: 5px solid black;
    margin-bottom: 25px;
}

.eshop-category-name span{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2em;
    color: grey;
    margin-left: 20px;
}

.eshop-product {
    position: relative;
    width: 15%;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 15px;
}
.eshop-products .eshop-product:last-child, .eshop-products .eshop-product :nth-child(6) {
    border-right: 1px solid grey;
}

.eshop-product .product-image {
    padding: 5%;
}
.eshop-product .product-image img {
    width: 100%;
}
.product-name, .product-desc, product-price {
    text-transform: uppercase;
}

.product-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-name{
    color: grey;
    font-weight: 900;
}

.product-price {
    font-weight: 600;
}

/*////////////////////////////////// ESHOP PRODUCT DETAIL ///////////////////////////////*/
.eshop-product-detail {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 800px;
    max-height: 800px;
    display: flex;
    padding: 20px 0;
    border: 1px solid grey;
    border-top: 0;
}

.product-detail-imgs {
    position: relative;
    width: 45%;

}

.product-detail-imgs-big {
    text-align: center;
    height:70%;
}

.product-detail-imgs-big img {
    max-width:100%;
    max-height:100%;
}

.product-detail-imgs-list {
    height: 30%;
    padding: 2%;
}
.product-detail-imgs-list img {
    max-width: 90%;
    max-height: 90%;
    margin-right: 5px;
}

.product-detail-desc {
    position: relative;
    width: 55%;
    color:black;
    /*border: 1px solid green;*/
    
}

.product-detail-desc .category-name, .product-detail-desc h2 {
    text-transform: uppercase;
}

.product-detail-desc .category-name {
    color: grey;
    font-weight: 900;
    font-size: 1em;    
}

.product-detail-desc h2{
    font-size: 2em;
    font-weight: 900;
    margin-top: 15px;
    color: black;
}
.product-detail-desc p{
    margin-top: 40px;
}
.product-detail-desc .product-price{
    font-weight: 900;
    color: green;
    font-size: 2em;
}

.product-detail-desc .product-options{
    display: flex;
    margin-top: 10px;
    width: 55%;
}

.product-detail-desc select{
    height: 50px;

}

.product-detail-desc .add-to-cart {

    margin-top: 20px;
}
/*//////////////////////////////////  CHECKOUT  ///////////////////////*/
.checkout-container{
    /*border: 1px solid red;*/
    width: 75%;
    margin: 25px auto;
    position: relative;
    height: 80%;
    color: black;
    
}

.checkout-information{
    /*border: 1px solid blue;*/
    height: 100%;
    padding: 0 10px;
}


.checkout-cart-data {
    border: 1px solid green;
    position: absolute;
    right: 0;
    top: 43px;
    height: 100%;
    width: 25%;
    z-index: 10;
    background-color: white;
}
.checkout-information input {
    font-weight: 700;
    padding: 25px 15px;
}
.checkout-information select {
    font-weight: 700;
    height: 50px;
}

.checkout-cart-data-action{
    padding: 15px;
    text-transform: uppercase;
    
}
.checkout-cart-data-action a {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}


.test-label {
    border: 1px solid #ced4da;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    font-weight: 700;
    color: #495057;
}
.test-label :hover{
    border: 1px solid #b08e8e;   
}
.test-label img{
    float: right;
    width: 20px;
    visibility: hidden;
} 
.test-label img:hover{
    border: none;
}
.test-label input{
    display: none;
}

.test-label-active{
    border-color: black;
    color: #a7a82b;
    font-weight: 700;
}
.test-label-active img{
    visibility: visible !important; 
}



/*//////////////////////////////////  CART  ///////////////////////*/
.cart-products{

}

.cart-products td {
    padding: 10px;
    /*border-bottom: 1px solid grey;*/
}

.cart-options {
    float: right;
    text-align: right;
    position: relative;
}

.cart-options .cart-adjust-count{
    margin-top: 10px;
    font-size: 1.1em;
}

.cart-options .cart-adjust-count img{
    width: 20px;
}

.cart-options .cart-product-delete{
    position: absolute;
    top: 5px;
}

.cart-options img{
    cursor: pointer;
}

.cart-options .cart-product-pricesum{
    font-weight: 900;
    font-size: 1.5em;
}

.cart-pricesum {
    padding: 15px;
    font-weight: 900;
    font-size: 1.5em;
    text-align: right;
}

